.container-fluid {
  padding-right: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: start;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
}

#section-slider .overlay-text {
  background-color: rgba(122, 109, 101, 0.9);
}

.newsletter-box {
  display: flex;
  align-items: center;
}

.brown-button {
  color: #fff;
  background-color: #7A6D65;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 767.98px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-md-6.text-center {
    padding-top: 15vh;
    /* Adjust padding for smaller screens */
  }

  .col-md-6 img {
    max-height: 50vh;
    /* Adjust image height for smaller screens */
  }
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #f48fb1;
}

.form-control {
  border-radius: 30px;
  padding: 1rem;
}

.btn-submit {
  background-color: #6c757d;
  color: #fff;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  display: block;
  width: 100%;

  .custom-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    /* Warna hitam dengan opacity 0.3 */
  }
}

.body-gradient {  
    background: radial-gradient(circle at top left, #f1c3ce -10%, #fcf7f2, transparent 55%);
}

.overlay-text {
    transition: transform 0.3s ease;
}
.overlay-text {
    position: relative;
}

.hover-span {
    display: none;
    color: #fff;
}

.overlay-text:hover .hover-span {
    display: inline;
}